@model IEnumerable<Admin_Dashboard.Models.ProductApna>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCateg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNoOfStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCateg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNoOfStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr><DirectedGraph xmlns="http://schemas.microsoft.com/vs/2009/dgml">
    <Nodes>
        <Node Id="( Namespace=AspNetCore Type=_Views_ProductApna_Index Member=ModelExpressionProvider)" Category="CodeSchema_Property" CodeSchemaProperty_IsPublic="True" CommonLabel="ModelExpressionProvider" Icon="Microsoft.VisualStudio.Property.Public" IsDragSource="True" Label="ModelExpressionProvider : IModelExpressionProvider" SourceLocation="(Assembly=&quot;file:///C:/Users/Champika Tripathi/OneDrive/Desktop/.NET Research/Admin_Dashboard/Admin_Dashboard/Views/ProductApna/Index.cshtml&quot; StartLineNumber=188 StartCharacterOffset=86 EndLineNumber=188 EndCharacterOffset=109)" />
        <Node Id="( Namespace=AspNetCore Type=_Views_ProductApna_Index)" Visibility="Hidden" />
    </Nodes>
    <Links>
        <Link Source="( Namespace=AspNetCore Type=_Views_ProductApna_Index)" Target="( Namespace=AspNetCore Type=_Views_ProductApna_Index Member=ModelExpressionProvider)" Category="Contains" />
    </Links>
    <Categories>
        <Category Id="CodeSchema_Member" Label="Member" Icon="CodeSchema_Field" />
        <Category Id="CodeSchema_Property" Label="Property" BasedOn="CodeSchema_Member" Icon="CodeSchema_Property" />
        <Category Id="Contains" Label="Contains" Description="Whether the source of the link contains the target object" IsContainment="True" />
    </Categories>
    <Properties>
        <Property Id="CodeSchemaProperty_IsPublic" Label="Is Public" Description="Flag to indicate the scope is Public" DataType="System.Boolean" />
        <Property Id="CommonLabel" DataType="System.String" />
        <Property Id="Icon" Label="Icon" DataType="System.String" />
        <Property Id="IsContainment" DataType="System.Boolean" />
        <Property Id="IsDragSource" Label="IsDragSource" Description="IsDragSource" DataType="System.Boolean" />
        <Property Id="Label" Label="Label" Description="Displayable label of an Annotatable object" DataType="System.String" />
        <Property Id="SourceLocation" Label="Start Line Number" DataType="Microsoft.VisualStudio.GraphModel.CodeSchema.SourceLocation" />
        <Property Id="Visibility" Label="Visibility" Description="Defines whether a node in the graph is visible or not" DataType="System.Windows.Visibility" />
    </Properties>
    <QualifiedNames>
        <Name Id="Assembly" Label="Assembly" ValueType="Uri" />
        <Name Id="Member" Label="Member" ValueType="System.Object" />
        <Name Id="Namespace" Label="Namespace" ValueType="System.String" />
        <Name Id="Type" Label="Type" ValueType="System.Object" />
    </QualifiedNames>
    <IdentifierAliases>
        <Alias n="1" Uri="Assembly=$(f9ceffdd-65ea-4d62-aa99-99b0d4fd4302.OutputPathUri)" />
    </IdentifierAliases>
    <Paths>
        <Path Id="f9ceffdd-65ea-4d62-aa99-99b0d4fd4302.OutputPathUri" Value="file:///C:/Users/Champika Tripathi/OneDrive/Desktop/.NET Research/Admin_Dashboard/Admin_Dashboard/bin/Debug/net5.0/Admin_Dashboard.dll" />
    </Paths>
</DirectedGraph>
}
    </tbody>
</table>
